{% include 'base.html.twig' %}

{% block body %}
    <div class="bg-white">
        <div class="mx-auto max-w-7xl py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
            <div class="text-center">
                <p class="mt-1 mb-3 text-4xl font-bold tracking-tight text-red-900 sm:text-5xl lg:text-6xl">Ceci est une démo de React dans une application Symfony</p>
                <div {{ react_component('Hello', {'fullName': 'Vincent'}) }}></div>
            </div>
        </div>
    </div>
{% endblock %}